* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* decrease font size of html elements to 10px, by default 16px */
/* font-size:100% == 16px == 1rem */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  /* --primary-color: #d3d3d3;
  --white-color: #fff;
  --black-color: #000; */

  --background: #182227;
  --background-light: rgba(255, 255, 255, 0.15);
  --text: #fce8ec;
  --element: #ffabc2;
  --element-hover: #ffabc2bb;
  --shadow: rgba(0, 0, 0, 0.2);
}

.landing-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: var(--shadow); */
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.navbar {
  position: fixed;
  top: 0rem;
  width: 100%;
  height: 5rem;
  z-index: 300;
  color: var(--text);
  background-color: var(--background);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-title {
  font-size: 3rem;
  font-family: "Baloo Da 2", serif;
  font-size: 3rem;
  font-weight: 300;
  color: var(--text);
}
.navbar-button {
  position: fixed;
  right: 1rem;
}
.login-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Baloo Da 2", serif;
  font-size: 3rem;
  font-weight: 300;
  color: var(--text);

  width: 7rem;
  height: 5rem;
}

.hamburger-menu {
  position: fixed;
  left: 1rem;
  width: 5rem;
  height: 5rem;
  z-index: 300;
  /* parent element will have display flex */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

/* line of the hamburger menu icon */
.line {
  width: 100%;
  height: 0.3rem;
  background-color: var(--text);
  box-shadow: 0 0.1rem 0.2rem var(--shadow);
}

.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 100;
  background-color: var(--background);
}

.change .sidebar {
  left: 0;
}

/* unordered list containing link to pages of site */
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  /* center element */
  transform: translate(-50%, -50%);
}

.menu-item-container {
  width: 40rem;
}

.menu-item-container:hover {
  background: var(--background-light);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 2rem;
  color: var(--text);
  /* pseudo element will be positioned relative to menu-link   */
  position: relative;
  cursor: pointer;
}

/* create pseudo elements for menu items with same content, diff color */
/*  menu items should have a hover effect */
/* change color from left to right */
/* pseudo element 0 width and then increase as hover over it */
.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--element-hover);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

/* select the element which is the wrapper of the icons */
.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  /* display icons in center */
  display: flex;
  justify-content: center;
}

/* customize the icons */
.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  /* make icons white */
  color: #fff;
  display: flex;
  /* center horizontally */
  justify-content: center;
  /* align vertically */
  align-items: center;
  /* make the boxes circles */
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: #c29525;
}

/* Services Section */
.services_section {
  width: 100%;
  /* background-color: #f5f5f5; */
  background-color: var(--background);
  padding-bottom: 15rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* top right bottom left */
  padding: 7rem 0 10rem 0;
  font-family: "Mulish", sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: var(--text);
  margin-bottom: 6rem;
}

.underline {
  width: 12rem;
  height: 0.4rem;
  margin-top: 1rem;
  background-color: var(--element);
}

.services {
  width: 100%;
  height: 100%;
  display: grid;
  /* 16 columns and size is 1 fractional unit */
  grid-template-columns: repeat(16, 1fr);
  /* 6 rows */
  grid-template-rows: repeat(6, 6rem);
  /* space between rows */
  grid-row-gap: 4rem;
}

/* div for service icon, service heading, paragraph */
.service {
  /* take up 100% width in cell */
  width: 100%;
  margin-bottom: 2rem;
}

/* 6 divs with class service to indicate services */
.service:nth-child(1) {
  /* div place between columns 4 and 7 */
  grid-column: 3/6;
  /* div place between row 1 and 3 */
  grid-row: 1/3;
}

.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 5 / 8;
}

.service:nth-child(3) {
  grid-column: 12 / 14;
  grid-row: 5 / 8;
}

.service:nth-child(4) {
  grid-column: 12 / 14;
  grid-row: 1 / 3;
}

/* if want to add an aditional service */
/* .service:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
  }
  .service:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
  } */

.service-image-wrapper {
  grid-column: 7/11;
  grid-row: 2/6;
  width: 100%;
}

.service-image-wrapper img {
  width: 100%;
  /* maintain quality of image */
  object-fit: cover;
  opacity: 0.75;
  border-radius: 1rem;
}

/* paragraph description of text */
.service-header i {
  font-size: 5rem;
  color: var(--element);
  /* margin on right side of icon */
  margin-right: 2rem;
}

.service-text {
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--text);
}

.service-header h3 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  /* create space at bottom */
  margin-bottom: 2rem;
  color: var(--text);
}

/* font awesome icon and heading */
.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer {
  width: 100%;
  height: 15rem;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  /* space between copyright paragraph and social media list */
  justify-content: space-between;
}

.copyright {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: var(--text);
}

.social-list a {
  /* top right bottom left */
  margin: 0 2rem 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: var(--element);
}

/* breakpoint 1500px */
@media (max-width: 1500px) {
  .service-image-wrapper {
    grid-row: 3/-1;
  }

  /* increase width */
  .footer-content {
    width: 80%;
  }

  /* my edit */
  .service-image-wrapper {
    grid-column: 7/10;
    grid-row: 2/4;
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .menu-link {
    font-size: 3rem;
  }

  .service:nth-child(1) {
    /* div place between columns 4 and 7 */
    grid-column: 3/7;
    /* div place between row 1 and 3 */
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
  }

  .service:nth-child(3) {
    grid-column: 11 / 15;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
  }

  /* .service:nth-child(5) {
      grid-column: 12 / 16;
    }
    .service:nth-child(6) {
      grid-column: 11 / 15;
    } */

  .service-image-wrapper {
    grid-column: 7/10;
    grid-row: 3/6;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .services {
    /* change flex direction */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .service-image-wrapper {
    width: 40rem;
  }

  .service-image-wrapper img {
    width: 100%;
  }

  .footer-content {
    /* change flex direction */
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    /* below social media icons */
    order: 1;
    margin-top: 3rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .sidebar {
    width: 100%;
    /* so not visible when closed */
    right: -100%;
  }

  /* reposition close sidebar icon */
  .change .hamburger-menu {
    /* my edit  */
    right: 40 rem;
  }

  .service {
    width: 30rem;
  }

  .footer {
    height: 18rem;
  }
}
